.fav-card-container{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 600px;

    .fav-card {
        color: whitesmoke;
    
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to top, black, transparent);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 10px;
            padding: 20px;
            z-index: 1;
        }
    }
}