.message{
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    z-index: 10;
}

.message i {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    outline: 2px solid whitesmoke;
}

.top-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.top-title{
    color: crimson;
    padding: 50px;
    margin-top: 5vh;
    font-size: 3rem;
    text-align: center;
}

.delete-fav{
    color: whitesmoke;
    cursor: pointer;
}

input[type="search"]{
    margin: 0 auto;
    width:50%;
    min-width: 300px;
    height: 60px;
    padding: 20px;
    text-align: left;
    margin-bottom: 5vh;
    border: none;
    border-bottom: 2px solid whitesmoke;
    outline: none;
    background: none;
    transition: all .2s ease;
    color: whitesmoke;
}

input[type="search"]:focus{
    border-bottom: 2px solid crimson;
}

input[type="search"]::placeholder{
    color: whitesmoke;
}

.grid-container{
    position: relative;
    background: rgb(15, 15, 15);
    max-width: 1800px;
    width: 100%;
    height: auto;
    min-height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 30px;
    padding: 50px;
    margin-bottom: 80px;
}

/* .grid-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

.card{
    position: relative;
    width: 400px;
    height: auto;
    background: rgb(9, 9, 9);
    overflow: hidden;
}

.card a{
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    overflow: hidden;
}

.card h1{
    text-align: center;
}


.card img{
    width: 300px;
    padding: 10px;
}

.heart{
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 80px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.heart i{
    color: red;
    font-size: 1.5rem;
}

.grid-container p {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
}
