@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1950px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 900px;
    flex-wrap: wrap;
    padding: 0 8vw;
    z-index: 999;

    .home-title {
        font-size: clamp(2rem, 3vw, 3rem);
        letter-spacing: 3px;
        color: whitesmoke;
        font-family: "Bebas Neue";
        text-decoration: none;

        & span {
            color: crimson;
            font-weight: bolder;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .link {
            text-decoration: none;
            color: grey;
            transition: color .2s ease;

            &:hover {
                color: whitesmoke;
            }
        }
    }
}