.category-title{
    width: 100%;
    bottom: 12vh;
    padding-left: 8vh;
    margin-bottom: 20px;
}

.row-container{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: 95%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}

.row::-webkit-scrollbar{
    height: 15px;
}

.row::-webkit-scrollbar-track{
    background: rgb(9, 9, 9);
}

.row::-webkit-scrollbar-thumb{
    background-color: rgb(37, 37, 37);
    border-radius: 25px;
}

.movie-container{
    height: 0;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.movie-container::-webkit-scrollbar{
    background: whitesmoke;
}

.movie-card{
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    user-select: none;
    color: whitesmoke;
    text-decoration: none;
}

.movie-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.watch{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease;
}

.movie-card:hover .watch{
    opacity: 1;
}
