.message{
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    z-index: 10;

    & i {
        width: 30px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        outline: 2px solid whitesmoke;
    }
}

.top-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;

    .top-title{
        color: whitesmoke;
        margin: 5vh 0;
        font-size: clamp(26px, 3vw, 42px);
        text-align: center;
    }
}


.delete-fav{
    color: whitesmoke;
    cursor: pointer;
}

.input-wrapper{
    width: 100%;
    max-width: 960px;
    background: rgb(24, 24, 24);
    position: relative;

    .fa-magnifying-glass{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    input[type="search"]{
        margin: 0 auto;
        width: 100%;
        height: 60px;
        padding: 20px 60px;
        text-align: left;
        border: none;
        border-bottom: 2px solid whitesmoke;
        outline: none;
        background: none;
        transition: all .2s ease;
        color: whitesmoke;
    }
}


.data-box{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    padding: 20px;
    background: rgb(24, 24, 24);
    z-index: 100;

    .trend-wrapper,
    .genres-wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    & h3{
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    
    & ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
    }
    
    
    & li{
        width: 100%;
        font-size: 14px;
        color: rgb(216, 216, 216);
        list-style-type: none;
        padding: 5px 0;
        cursor: pointer;
    }
    
    & li:hover{
        background: rgb(51, 51, 51);
    }

    .genres-wrapper ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        place-content: flex-start;
        gap: 10px;

        & button{
            border: none;
            padding: 10px 20px;
            border-radius: 50px;
            background: none;
            outline: 1px solid whitesmoke;
            color: whitesmoke;
        }
        
        & button:hover{
            background: rgb(51, 51, 51);
        }
    }
    
    
    input[type="search"]:focus{
        border-bottom: 2px solid crimson;
    }
    
    input[type="search"]::placeholder{
        color: whitesmoke;
    }

}

.grid-container{
    position: relative;
    max-width: 1950px;
    width: 100%;
    height: auto;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10vh 0;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, 400px);
    // justify-content: center;
    // gap: 30px;
}

