.row-container{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .category-title{
        width: 100%;
        bottom: 12vh;
        padding-left: 8vh;
        margin-bottom: 20px;
    }
    
    .row{
        width: 95%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar{
            height: 15px;
        }
        
        &::-webkit-scrollbar-track{
            background: rgb(9, 9, 9);
        }
        
        &::-webkit-scrollbar-thumb{
            background-color: rgb(37, 37, 37);
            border-radius: 25px;
        }
    }
    
    .movie-container{
        height: 0;
        margin: 20px auto;
        display: flex;
        align-items: center;
        gap: 20px;
        
        &::-webkit-scrollbar{
            background: whitesmoke;
        }
    }
    
}
