.category-container{
    width: 100vw;
    max-width: 1750px;

    .category-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 10vh;
        padding-left: 20px;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar{
            height: 15px;
        }
        
        &::-webkit-scrollbar-track{
            background: rgb(9, 9, 9);
        }
        
        &::-webkit-scrollbar-thumb{
            background-color: rgb(37, 37, 37);
            border-radius: 25px;
        }

        .movie-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            &::-webkit-scrollbar{
                background: whitesmoke;
            }
        }
    }
}
